<div class="he_footerg">
	<div class="he_footermarg">
		<div class="col-xl-2 col-lg-2 no-split screen-lg logos">
			<div class="logog">
				<a href="https://www.gov.co" target="_blank" title="GOVCO"><img alt="logo GOVCO" src="/sites/default/files/logo_footer.png"/></a>
			</div>

			<div class="logo_cog">
				<a href="https://www.colombia.co" target="_blank" title="Colombia"><img alt="logo CO Colombia" src="/sites/default/files/logo_co_footer.png"/></a>
			</div>
		</div>

		<div class="col-xl-6 col-lg-4 split">
			<h4>Instituto Colombiano de Bienestar Familiar (ICBF)</h4>

			<p>Dirección Sede de la Dirección General: Av. Carrera 68 # 64C - 75 Bogotá, Colombia.</p>

			<p>Código Postal: 111061<br/>
				NIT: 899999.239-2.<br/>
				Horario de Atención: Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>

			<p>
				<a class="f2-a boldf" href="/instituto/entidades-sector" title="Haz clic para consultar Entidades Sector Inclusión Social">
					<span>Consultar Entidades del Sector de la Inclusión Social y Reconciliación</span>
				</a>
			</p>

			<ul class="he_footer_redesg">
				<li>
					<a class="he_footer_socialgov fa fa-twitg" href="https://twitter.com/icbfcolombia" target="_blank" title="Enlace a Twitter">
						<span class="fa_text">@ICBFColombia</span>
					</a>
				</li>
				<li>
					<a class="he_footer_socialgov fa fa-instagrmg" href="https://www.instagram.com/icbfcolombiaoficial/" target="_blank" title="Enlace a Instagram">
						<span class="fa_text">icbfcolombiaoficial</span>
					</a>
				</li>
			</ul>

			<ul class="he_footer_redesg">
				<li>
					<a class="he_footer_socialgov fa fa-faceg" href="https://www.facebook.com/ICBFColombia" target="_blank" title="Enlace a Facebook">
						<span class="fa_text">ICBFColombia</span>
					</a>
				</li>
				<li>
					<a class="he_footer_socialgov fa fa-youtbg" href="https://www.youtube.com/user/ICBFInstitucional" target="_blank" title="Enlace a Youtube">
						<span class="fa_text">ICBFInstitucionalICBF</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-lg-6 no-split">
			<h4>Contacto</h4>

			<ul class="he_gov_list">
				<li>Teléfono Conmutador: +57 601 437 76 30, Disponible lunes a viernes de 8:00 a.m. a 5:00 p.m.</li>
				<li>Línea gratuita nacional ICBF: 01 8000 91 80 80, Disponible lunes a viernes 8:00 am a 5:00 pm.</li>
				<li>Línea 141: Línea gratuita nacional para denuncia, emergencia y orientación. Disponible las 24 horas.</li>
				<li>Linea Anticorrupción : 01 8000 91 80 80, opción 4.</li>
				<li>Correo Atención al Ciudadano:
					<a class="f2-a boldf" href="-base-url-/mensaje-de-confirmacion" title="Escribir al Correo de Atención al Ciudadano">atencionalciudadano@icbf.gov.co</a>
				</li>
				<li>Correo Notificaciones Judiciales ICBF:
					<a class="f2-a boldf" href="mailto:Notificaciones.Judiciales@icbf.gov.co" target="_blank" title="Escribir al correo Notificaciones Judiciales ICBF">Notificaciones.Judiciales@icbf.gov.co</a>
				</li>
			</ul>

			<ul class="he_gov_list">
				<li>
					<a href="https://intranet.icbf.gov.co/sites/default/files/0414_-_adopta_la_politica_de_seguridad_y_privacidad_de_la_informacion_seguridad_digital_y_continuidad_operacion.pdf" target="_blank" title="Clic para consultar Políticas de Seguridad ICBF">Política de Seguridad y Privacidad de la Información, Seguridad Digital y Continuidad de la Operación</a><br/>
					Consultar también:
					<a href="/instituto/sistema-integrado-gestion" title="Clic para consultar Políticas SIGE">Políticas del Sistema Integrado de Gestión ICBF</a>
				</li>
				<li>
					<a href="/instituto/politicas-portal" title="Clic para consultar Política de Privacidad y Condiciones de Uso ICBF">Política de Privacidad y Condiciones de Uso</a>
				</li>
			</ul>

			<ul class="he_gov_list">
				<li>
					<a href="https://www.icbf.gov.co/sites/default/files/politica_de_tratamiento_de_datos_personales_0.pdf" target="_blank" title="Clic para consultar Política de Tratamiento de Datos">Política de Tratamiento de Datos Personales</a>
				</li>
				<li>
					<a href="/sites/default/files/13246_-_establece_politica_editorial_y_de_actualizacion_de_contenidos_we.pdf" target="_blank" title="Clic para consultar Política Editorial ICBF">Política Editorial y de Actualización de Contenidos Web</a>
				</li>
			</ul>
		</div>

		<div class="no-split split-top screen-md-sm logos_movil">
			<div class="logog col-sm-10 col-xs-10">
				<a href="https://www.gov.co" target="_blank" title="Ir a GOVCO"><img alt="logo GOVCO" src="/sites/default/files/logo_footer.png"/></a>
			</div>

			<div class="logo_cog col-sm-2 col-xs-2">
				<a href="https://www.colombia.co" target="_blank" title="Ir a CO Colombia"><img alt="logo CO" src="/sites/default/files/logo_co_footer.png"/></a>
			</div>
		</div>
	</div>
</div>

<div class="block-bean-footer3">
	<div class="container">
		<div class="col-sm-6">
			<a class="btn-1519-2" href="https://mail.icbf.gov.co/" title="Ingreso correo interno">
				<span>Correo Interno Funcionarios ICBF</span>
			</a>
			<a class="btn-1519-2" href="/sitemap" target="_blank" title="consultar mapa del sitio">
				<span>Mapa del sitio</span>
			</a>
			<a href="/user/login" title="Ingreso administrador">
				<span>Ingresar</span>
			</a>
		</div>

		<div class="col-sm-6">© Copyright 2021 - Todos los derechos reservados - Gobierno de Colombia</div>
	</div>
</div>
